@font-face {
    font-family: font1_0;
    src: url(fonts/font1_2/Quicksand_Bold.otf);
}

@font-face {
    font-family: font1_1;
    src: url(fonts/font1_2/Quicksand_Book.otf);
}


@font-face {
    font-family: font2;
    src: url(fonts/font2/cCaesarSalad.ttf);
}

* {
    margin: 0%;
    box-sizing: border-box;
}

header {
    left: 0em;
    width: 100vw;
    position: fixed;
    height: 5em;
    justify-content: right;
    align-items: center;
    display: flex;
    top: 0em;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9)
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding-right: 5em;
}

nav ul li a {
    font-family: font2;
    font-size: 1.6em;
    color: rgb(108, 179, 254);
    text-decoration: none;
}

nav ul li a.active {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(255, 255, 255);
    transition: 0.1s;
}

h1,
h2 {
    font-family: font2;
}

p {
    font-family: font1_1;
}

/*End of header and beginning intro*/
.intro {
    background-image: url(illustrations/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-items: center;
    padding: 1em;
}

.intro img {
    width: 22.5em;
    height: 26em;
    position: absolute;
    top: 18em;
    left: 6em;
}

h1 {
    letter-spacing: .1em;
    font-size: 6em;
    text-align: center;
}



.intro::before {
    animation: bounce 1.5s ease-out infinite;
    bottom: -.4em;
    font-family: fantasy;
    font-weight: bold;
    font-size: 4em;
    content: 'v';
    left: 10.7em;
    position: absolute;
    text-align: center;
}

@keyframes bounce {
    50% {
        transform: translateY(-.4em);
    }
}

/*End of intro and beginning about me*/

body {
    background-color: #edecec;
    height: 100vh;
}

.aboutMe {
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
}

.left {
    width: 50vw;
    padding: 1em;
}

.right {
    width: 50vw;
    height: 80vh;
    font-size: 1.2em;
    background-image: url(illustrations/bg.png);
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    padding-right: 4em;
}

.right p {
    position: absolute;
    transform: translateY(10em);
    font-weight: bold;
    line-height: 2em;
    padding: 1em;
    text-align: left;
}

.right p:nth-child(2) {
    transform: translateY(11.5em);
}

.right p:nth-child(3) {
    transform: translateY(13em);
}

.right p:nth-child(4) {
    transform: translateY(14.5em);
}

.right p:nth-child(5) {
    transform: translateY(16em);
}

.right p:nth-child(6) {
    transform: translateY(22em);
}



.left h2 {
    position: absolute;
    transform: translateY(3em);
    left: 14.2em;
    font-size: 2.7em;
}

.aboutMe img:nth-child(2) {
    width: 14em;
    height: 14em;
    position: relative;
    top: 24em;
    left: 30em;
    z-index: 1;
    transform: rotate(3deg);
}

.aboutMe img:nth-child(3) {
    width: 33em;
    height: 37em;
    position: relative;
    top: -7em;
    left: 1.2em;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.myProjects{
        overflow: hidden;


}

.container {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-images {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out; /* Overgang van 1 seconde tussen slides */
}

.slider a {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slider img {
    max-width: 90em;
    max-height: 85em;
    object-fit:contain; /* Zorgt ervoor dat de afbeelding binnen de container past zonder vervorming */
}

.slider-nav {
    position: absolute;
    bottom: 15em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slider-nav a {
    width: 2em;
    height: 2em;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    display: block;
}

.slider-nav a.active {
    background-color: gray;
}

